<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand navbar-dark bg-light">
        <div class="navbar-nav">
          <p class="message">
            You are about to start the test. Please read all the instructions carefully.
          </p>
        </div>
      </nav>
      <div class="instruction">
        <ol start="1" type="1">
          <li>
            Total duration of this test is
            <b>45 minutes</b>
            . After 30 minutes from starting the test, you can submit the test but not before that.
          </li>
         <li>
           There will be
           <b>30 Multiple Choice Questions</b>
           .
         </li>
         <li>
           There are
           <b>4 sections</b>
           in the question paper consisting of
           <b>10 questions of HTML/CSS</b>
           ,
           <b>10 questions of Programming</b>
           ,
           <!-- <b>5 questions of OOPS</b> -->
           <b>4 questions of SQL</b>
           and
           <b>6 questions of Aptitude</b>
         </li>
         <li>
           Each question is alloted
           <b>4 marks</b>
           for the correct answer and
           <b>No marks</b>
           will be deducted for the incorrect answer.
         </li>
          <li>All questions are compulsory. </li>
          <!-- <li>There won't be any negative marking in any section.</li> -->
          <li>
            After attempting the questions, the corresponding button's color will change into <b>green</b>.
          </li>
          <li>
            Once you have attempted the question, you can only change your answer but <b>you can't unattempt the question</b>.
          </li>
<!--          <li>-->
<!--            After you finish the test(or after 120 minutes), you'll be <b>automatically redirected to the Hackerrank Dashboard</b> where you can give your coding test.-->
<!--          </li>-->
          <li>
            You will <b>not be able to take the test via your phone</b> and a laptop/desktop will be required.
          </li>
          <li>
            Please <b>DO NOT</b> refresh the page or press back button while the test is going on.
          </li>
<!--          <li>For attempting the personality section kindly click on the link provided into the test portal.</li>
          <li><b>*Personality section is mandatory*.</b></li>
          <li><b>*Kindly open another tab for attempting the personality section , do not close the test tab.</b></li>
<!--          <li>-->
<!--            In case of any <b>technical fault</b>, please <b>contact us immediately</b> on the following numbers: <b>7565053977, 8299459618</b>-->
<!--          </li>-->
        </ol>
      </div>
      <div class="text-center">
        <h4>All the Best!</h4>
      </div>
      <div class="start">
        <button class="submit" type="submit" [routerLink] = "['/dashboard']">Click Here To Begin</button>
      </div>
    </div>
  </div>
</div>
