<body>
<mat-toolbar>
  <img class="logo" src="assets/img/conatus.png" alt="logo">
</mat-toolbar>

<div class="container">
  <div class="box">
    <h1><b>We Create | We Coach | We Impact</b></h1>
    <h4>It is the long history of humankind that those who learned to collaborate and improvise most effectively have
      prevailed.</h4>
    <!--    <div class="login-button">-->
    <!--      <button mat-raised-button type="submit" [routerLink]="['/login']">LOG IN</button>-->
    <!--    </div>-->
    <div class="register-button">
      <button mat-raised-button type="submit" [routerLink]="['/register']">START</button>
    </div>
  </div>
</div>
<ng-container>
  <div class="phn-text text-center">
    <img class="logo" src="assets/img/conatus.png" alt="logo">

    <h4>Please use your laptop/desktop for the recruitment test!</h4>
  </div>
</ng-container>
<div class="footer">
  <p>
    Powered by Team Conatus
  </p>
</div>
</body>
