<body>
<mat-toolbar>
  Conatus Recruitment Portal
</mat-toolbar>

<div class="container">
  <div class="box">
    <img class="logo" src="assets/img/conatus.png" alt="logo" >
   <p class="para"><b>THANK YOU!</b><br>
      You have successfully completed round 1 of the Recruitment Test.<br>
   </p>

      <div class="bubble">
        <a href="https://www.hackerrank.com/quest-23-1" target="_blank"><button class="btn">Proceed</button></a>
      </div>
  </div>
</div>
<div class="footer">
  <p>
    Powered by Team Conatus
  </p>
</div>
</body>
